<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="google-site-verification" content="mYwxftnIG4cnQbaTD3-dSz0E_uNAQmdSh17HQsvtJzQ" />
    <meta content="text/html; charset=UTF-8" name="Content-Type" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    {% block head %}
    <title>{% block title %}CERL PDA{% endblock %}</title>
    <link rel="stylesheet" href="/static/main.css"/>
    <script src="/static/main.js"></script>
    {% endblock %}
    {% block head_last %}{% endblock %}
    <style>
        .hed {font-variant: small-caps; color: #888; margin-right: 0.5ch}
        .notespara {margin: 0}
    </style>
  </head>
  <body>

{% block notification %}
{% endblock notification %}

      <header>
      <div class="container-fluid">
        <div class="row">
            <div class="col-sm-8 col-lg-auto">                
              <ul class="nav mb-2">
                <li >
                    <a href="/"><img src="/static/cerl_logo.jpg" alt=""></a>
                </li>
                <li>
                    <a href="/search" class="nav-link px-2 text-light">Search</a>
                </li>
                <li>
                    <a href="/upload" class="nav-link px-2 text-warning">Upload New Item</a>
                </li>
                <li>
                    <a href="/canyouhelp/" class="nav-link px-2 text-warning">Can You Help?</a>
                </li>
                <li>{% block login %}
                    {% if request.user.is_authenticated %}
                        <a href="/logout" type="button" class="nav-link px-2 text-light" title="{{request.user.username}}">Logout</a>
                    {% else %}
                        <a href="/login" type="button" class="nav-link px-2 text-light">⁂ Login/Register</a>
                    {% endif %}{% endblock%}
                </li>
              </ul>
            </div>
        </div>
      </div>
      </header>

    {% block content %}{% endblock %}

    <div style="font-size: 50%; text-align: right; padding-right: 1vw">v 202503</div>

    <footer class="container-fluid" style="background-color: #333; padding: 2vh 1vh 4vh 3vh">
        <div class="row">
            <div class="col">
                <div>
                    <a class="text-info" href="https://cerl.org/" style="font-size: 120%">&copy; 2022 Consortium of European Research Libraries</a>
                </div>
                <div class="text-info">Registration address: Marsh’s Library, St Patrick’s Close, Dublin, Ireland, D08FK79.</div>
                <div class="text-info">Please direct all correspondence at secretariat@cerl.org</div>

                <div>
                    <a class="text-info" href="https://www.cerl.org/contact">Contact</a>                    
                </div>
            </div>
            <div class="col">
                <a class="text-info" href="https://data.cerl.org/_static/datapolicy_general">Data Privacy Policy</a>
            </div>            
        </div>
    </footer>
  </body>
</html>
