{% extends "base.html" %}

{% block head_last%}
<style>
.parallax {
	height: 60vh;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.wideslab {
 padding: 3vw; min-height: 27vh; text-align: center; width: 100vw
}
</style>
<script type="module">import * as homepage from '/static/homepage/homepage.js';</script>
{% endblock %}


{% block content %}

{% block content_title %}
<div class="container-fluid" style="padding: 0;">

{% if request.user.is_admin %}
<div class="row mt-1">
    <div class="col-3 offset-md-2">
        <a href="/api/download/dmp" class="btn btn-primary btn-sm">DBText Dump</a>
    </div>
    <div class="col-3">
        <a href="/list" class="btn btn-primary btn-sm">List View</a>
    </div>    
</div>
{% endif %}

    <div class="row">
        <div class="col" style="text-align: center; padding-top: 8vw">
            <h2>❧ Welcome to the CERL Provenance Digital Archive</h2>
            <div>
                <input type="search" id="searchbox" style="width: 80%" placeholder="Type here to start searching..." value="{{q}}"/>
                <a href="/help/searchtips" style="font-size: 75%; font-family: Satyr Smallcaps; color: #888;">Search tips</a>
            </div>
        </div>
    </div> 

</div>
{% endblock content_title %}



{% block searchresults %}

<div id="searchresults" style="padding: 1vh 1vw 5vh 5vw; margin-top: 2vh">
    <div class="row justify-content-center" style="height: 30vh">
        <div class="col-4 text-center">There are currently {{total}} items in the database.</div>
        <div class="col-4 text-center"><a href="#" id="showrandom">Click here to see a random selection</a>, or type a search query.</div>
    </div>
</div>



{% endblock searchresults %}




</div>

{% endblock %}
