{% extends "base.html" %}


{% macro snip(field, title, text) %}
{% if field == 'INSTIT_CERLID' %}
    {% if text %}{% if title %}<span class="hed">{{title}}: </span>{% endif %}{{text|cerl_holdinst}}{% endif %}
{% else %}
    {% if text %}{% if title %}<span class="hed">{{title}}: </span>{% endif %}{{text|cerl_thesaurus}}{% endif %}
{% endif %}
{% if text %}{% if field == 'WIDTH' or field == 'HEIGHT' %}cm{% endif %}{% endif %}
{% endmacro %}



{% block title %}CERL PDA · {{obj["ID"][0]}}{% endblock title %}

{% block head_last%}
<style>
.annotation-rect {
    border: 2px solid red;
    box-sizing: border-box;
    pointer-events: none;
}
</style>


<meta property="og:title" content="CERL PDA · {{obj['ID'][0]}}" />
{% if obj.get('URL_IMAGE') %}
<meta property="og:image" content="https://pda.cerl.org/iiif/2/{{obj['URL_IMAGE'][0]}}/full/300,/0/default.jpg" />
{% endif %}
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="CERL PDA · cerlpda_01354">


<script src="/static/openseadragon-2.4.2/openseadragon.min.js"></script>
<script>
document.objId = '{{obj['ID'][0]}}'
{% if obj.get('EXEMPLAR') %}
document.exemplar = '{{obj['EXEMPLAR'][0]}}'
{% endif %}
</script>
<script type="module">import * as item from '/static/item/item.js';</script>




{% endblock %}

{% block content %}
<div class="container-fluid" style="padding: 1vh 1vw 5vh 5vw;">
        <div class="row" style="padding: 0 2vw 0 2vw">
            <div class="col">
                
                {% if request.user.is_admin  or (obj["UPLOADER"] and obj["UPLOADER"][0][0] == request.user.username )%}
                <a class="btn btn-sm btn-info" href="/edit/{{obj['ID'][0]}}">Edit</a>{% endif %}
                {% if request.user.is_admin %}
                <a class="btn btn-sm btn-danger" href="#" id="delete">Delete</a>{% endif %}



                {% if request.user.is_authenticated %}
                <a class="btn btn-sm btn-secondary" href="#" data-bs-toggle="modal" data-bs-target="#commentModal">Comment</a>
                {% endif %}
                <a class="btn btn-sm btn-secondary" title="Tweet a link to this item" target="twitterwindow" href="https://twitter.com/intent/tweet?text={{tweet_text}}&hashtags=cerlpda,canyouhelp,oldbooks,provenance,bookhistory"><svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="#1DA1F2" class="bi bi-twitter" viewBox="-4 0 24 24">
                        <path d="M5.026 15c6.038 0 9.341-5.003 9.341-9.334 0-.14 0-.282-.006-.422A6.685 6.685 0 0 0 16 3.542a6.658 6.658 0 0 1-1.889.518 3.301 3.301 0 0 0 1.447-1.817 6.533 6.533 0 0 1-2.087.793A3.286 3.286 0 0 0 7.875 6.03a9.325 9.325 0 0 1-6.767-3.429 3.289 3.289 0 0 0 1.018 4.382A3.323 3.323 0 0 1 .64 6.575v.045a3.288 3.288 0 0 0 2.632 3.218 3.203 3.203 0 0 1-.865.115 3.23 3.23 0 0 1-.614-.057 3.283 3.283 0 0 0 3.067 2.277A6.588 6.588 0 0 1 .78 13.58a6.32 6.32 0 0 1-.78-.045A9.344 9.344 0 0 0 5.026 15z"/>
                    </svg>
                </a>

                <a href="/iiif/2/{{obj.get('URL_IMAGE', [''])[0]}}/info.json" class="btn btn-sm  btn-secondary"><img src="/static/iiif_logo.png" alt="The IIIF Logo"></a>
              </div>            
            {% if "CANYOUHELP" in obj %}
            <div class="col"><a class="btn btn-sm btn-secondary" href="/canyouhelp">This item is in "Can You Help?"</a></div>
            {% endif %}
            <div class="col">
                {% if request.user.is_admin %}                
                <div class="form-check-inline form-switch">
                    <input class="form-check-input" type="checkbox" id="checked_by_editor"{% if obj['CHECKED_BY_EDITOR']|length > 0 and obj['CHECKED_BY_EDITOR'][0] %} checked{% endif %}>
                    <label class="form-check-label" for="checked_by_editor">Reviewed</label>
                </div>
                <a class="btn btn-sm btn-secondary" href="/id/{{obj['ID'][0]}}.raw">Raw</a>
                {% endif %}
                <a class="btn btn-sm btn-secondary" href="#" id="citable_uri">Copy URI to clipboard</a>
            </div>
        </div>

    <div class="row" style="padding: 1vw 2vw 0 2vw">
        <div style="font-size: 150%">{{snip(*TF("OWNERS_CERLID"))}}</div>
        <div>{{snip(*TF("CAPTION"))}}</div>
        <div>{{snip(*TF("TEXT"))}}</div>                        


        <div><span class="hed">Source:</span>
        {{obj.get("PERSON_AUTHOR", [""])[0]}}{% if "TITLE" in obj and "PERSON_AUTHOR" in obj %}, {% endif %}{{obj.get("TITLE", [""])[0]}}{% if "IMPRINT" in obj%}, {% endif %}{{obj.get("IMPRINT", [""])[0]}}
        </div>

        
        
        <div>{{snip(*TF("INSTIT_CERLID"))}} {{snip(*TF("SHELFMARK"))}} {{snip(*TF("PAGE"))}}</div>
        <div>{{snip(*TF("LOCATION_ORIG_CERLID"))}}
        {% if "DATE_ORIG_CENTURY" in obj%} <span class="hed">Century:</span> {% for c in obj.get('DATE_ORIG_CENTURY', []) %}
        {{c}}th {% if not loop.last %}, {% endif %}
        {% endfor %}
        {% endif %}
        {{snip(*TF("DATE_ORIG"))}}</div>
        
        <div>{{snip(*TF("TYPE_INS"))}} {{snip(*TF("TECHNIQUE"))}}</div>
        <div>{{snip(*TF("HEIGHT"))}} {{snip(*TF("WIDTH"))}}</div>

        <div>{{snip(*TF("COMMENT"))}}</div>


        {% if obj.get("IC", [])|length > 0 %}
        <div class="mt-2"><p class="hed" style="margin: 0">ICONCLASS</p>
         {% for obj in obj.get("IC", [])|ic %}
            {% if obj %}
            <p style="margin: 0"><a target="_ic" href="https://iconclass.org/{{obj.get('n')|urlencode}}">{{obj.get('n')}}</a> {{obj['txt']['en']}}</p>
            {% endif %}

        {% endfor %}</div>
        {% endif %}


        {% if obj["URL_WEBPAGE"] %}
        <div style="text-align: right">
        See:  <a target="_mei" href="{{obj["URL_WEBPAGE"][0]}}">{{obj["URL_WEBPAGE"][0]}}</a></div>
        {% endif %}
        {% if obj["URL_SEEALSO"] %}
        <div style="text-align: right; max-height: 30vh; overflow: scroll">
        Other usage:  {% for seealso in obj["URL_SEEALSO"] %}
            <a style="display: block" target="_mei" href="{{seealso}}">{{seealso}}</a>
        {% endfor %}
        
        
        </div>
        {% endif %}
                
        {% if obj["NOTES"] %}
        <p class="hed" style="margin: 0">Notes:</p>
        <div style="margin-bottom: 3vh">{{obj["NOTES"][0]|to_paras}}</div>
        {% endif %}

        <div class="mb-2">
        {% if request.user.is_admin  or (obj["UPLOADER"] and obj["UPLOADER"][0][0] == request.user.username )%}
        <a id="add_zoom" href="#" class="btn btn-sm btn-secondary">Add Zoom</a>
        <a id="save_zoom" href="#" class="btn btn-sm btn-secondary" style="display: none">Save Zoomed Area</a>        
        {% endif %}


        {% for animage in obj.get('URL_IMAGE', []) %}    
            <a title="Image: {{animage}}" data-image="{{animage}}" href="/id/{{obj['ID'][0]}}/similar/{{animage}}" class="show_similar btn btn-sm btn-secondary">{% if loop.index > 1 %}Image {{loop.index}}{% else %}Find Similar Items{% endif %}</a>
        {% endfor %}
        </div>

        <div id="image_thumbnails"></div>
        
        <div id="thedzi1" style="height: 60vh; width: 100%; margin: 0 auto; border-top: 4px solid #ddd;"></div>

        {% if "TIMESTAMP" in obj %}
        <div><span class="hed">Last Edited:</span> {{obj["TIMESTAMP"][-1]}}</div>
        {% endif %}
        {% if "UPLOADER" in obj %}
            <div class="col"><span class="hed">Uploaded by:</span>{{obj["UPLOADER"][0][1]}}</div>
        {% endif %}

        {% if "ANNOT" in obj %}
        <div style="margin-top: 4vh">
            <h4>Comments</h4>
            {% for rowid, user, value, timestamp in obj["ANNOT"] %}
                <div class="card">
                    
                {% if user == request.user.username or request.user.is_admin  %}
                <a class="deleteComment" href="#" title="Delete this comment" data-rowid="{{rowid}}">
                    <svg style="position: relative; top: 20px; left: -1.5ch" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                    <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                    <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                    </svg>
                </a>{% endif %}
                <div class="card-body">
                    <h4 class="card-title" style="font-size: 70%">
                    {{timestamp}} {{user}}
                    </h4>
                    {{value|markdown}}
                </div>
                </div>
            {% endfor %}
        </div>
        {% endif %}
    </div>

    {% if obj.get("_instances", [])|length > 1 %}
    <div class="row" style="padding: 1vw 2vw 0 2vw">
        <h3>Other Instances</h3>
        {% for instance in obj.get("_instances", []) %}
            {% if instance.get('ID')[0] != obj.get('EXEMPLAR')[0] %}
            <div class="col-sm-6 col-lg-3 mb-4 grid-item" anid="{{obj.get('ID')[0]}}">
                <div class="card">
                <a target="cerlpda_item" href="/id/{{instance.get('ID')[0]}}">
                    {% for img in instance.get('URL_IMAGE') %}
                        <img src="/iiif/2/{{img}}/full/300,/0/default.jpg">
                    {% endfor %}
                </a>
                <div class="card-body">
                    {% if request.user.is_admin  or (obj["UPLOADER"] and obj["UPLOADER"][0][0] == request.user.username )%}
                    <a class="btn btn-sm btn-warning exemplar" href="#" data-combine="{{instance['ID'][0]}}">Make Main Instance</a>{% endif %}
                    <p><a target="_new" href="{{instance.get('URL_WEBPAGE', ['#'])[0]}}">{{instance.get('TITLE', ["no title"])[0]}}</a> </p>
                    <p>{{instance.get("INSTIT", [""])[0]}} {{instance.get("SHELFMARK", [""])[0]}}</p>

                </div>
                </div>
            </div>
            {% endif %}
        {% endfor %}
    </div>
    {% endif %}


</div>

<div class="modal fade" id="commentModal" tabindex="-1" aria-labelledby="commentModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="commentModalLabel">Add Comment</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <textarea name="comment" id="commentInput" rows="10" style="width: 100%"></textarea>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id="saveComment">Save changes</button>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
let annotationMode = false;
let isDrawing = false;
let startPoint = null;
let currentRect = null;


async function doInits() {
    var viewer = OpenSeadragon({
        id: "thedzi1",
        prefixUrl: '/static/openseadragon-2.4.2/images/',
        showNavigator: false,
        showFullPageControl: true,
        showRotationControl: true,
        maxZoomPixelRatio: 999,
        tileSources: [ {% for animage in obj.get('URL_IMAGE', []) %}
        { x: {{loop.index*1000+100}}, y: 0, width: 1000,             
            tileSource: '/iiif/2/{{animage}}/info.json'} {% if not loop.last %},{% endif %}
        {% endfor %}],
    });

    {% if "_ZOOM" in obj %}
    
    const zoomData = {{obj['_ZOOM'][0][0]|safe}};
    
    const x = zoomData.x;
    const y = zoomData.y;
    const w = zoomData.w;
    const h = zoomData.h;
        

    {% if obj['EXEMPLAR'][0] == obj['_ZOOM'][0][1]['obj_id']%}
    
    // Wait for the viewer to be ready
    viewer.addHandler('open', function() {

        const currentItem = viewer.world.getItemAt(0);
        const itemBounds = currentItem.getBounds();
        
        // Convert relative coordinates back to viewport coordinates
        const overlayBounds = new OpenSeadragon.Rect(
            itemBounds.x + (x * itemBounds.width),
            itemBounds.y + (y * itemBounds.height),
            w * itemBounds.width,
            h * itemBounds.height
        );
        
        // Create overlay element
        const rectElement = document.createElement("div");
        rectElement.className = "annotation-rect";
        
        // Add overlay to viewer
        viewer.addOverlay({
            element: rectElement,
            location: overlayBounds
        });
        zoomToAnnotation(overlayBounds)
    });
    {% endif %}

    {% endif %}

    viewer.addHandler("canvas-press", function (event) {
        if (!annotationMode) return;

    
        viewer.clearOverlays();

        isDrawing = true;
        startPoint = viewer.viewport.pointFromPixel(event.position);
        event.preventDefaultAction = true;
    });

    viewer.addHandler("canvas-drag", function (event) {
        if (!annotationMode || !isDrawing) return;

        event.preventDefaultAction = true;

        const currentPoint = viewer.viewport.pointFromPixel(event.position);

        const rect = {
        x: Math.min(startPoint.x, currentPoint.x),
        y: Math.min(startPoint.y, currentPoint.y),
        width: Math.abs(currentPoint.x - startPoint.x),
        height: Math.abs(currentPoint.y - startPoint.y),
        };

        if (currentRect) {
        viewer.removeOverlay(currentRect);
        }

        const rectElement = document.createElement("div");
        rectElement.className = "annotation-rect";

        viewer.addOverlay({
        element: rectElement,
        location: new OpenSeadragon.Rect(rect.x, rect.y, rect.width, rect.height),
        });

        currentRect = rectElement;
    });

    viewer.addHandler("canvas-release", function (event) {
        if (!annotationMode || !isDrawing) return;

        event.preventDefaultAction = true;
        isDrawing = false;

        if (currentRect && startPoint) {
        const endPoint = viewer.viewport.pointFromPixel(event.position);

        const rect = {
            x: Math.min(startPoint.x, endPoint.x),
            y: Math.min(startPoint.y, endPoint.y),
            width: Math.abs(endPoint.x - startPoint.x),
            height: Math.abs(endPoint.y - startPoint.y),
        };

        if (rect.width > 0.001 && rect.height > 0.001) {
            const annotation = {
            id: Date.now(),
            element: currentRect,
            bounds: rect,
            };
            document.zoomed_annotation = annotation;
            zoomToAnnotation(rect)
            console.log("Annotation created:", annotation.bounds);
        } else {
            viewer.removeOverlay(currentRect);
        }
        }

        currentRect = null;
        startPoint = null;
    });


    
    document.getElementById('add_zoom').addEventListener('click', function(event) {
        event.preventDefault();
        document.getElementById('add_zoom').style.display = 'none';
        document.getElementById('save_zoom').style.display = 'inline-block';
        annotationMode = true;
        viewer.element.style.cursor = "crosshair"
    });

    function zoomToAnnotation(bounds) {
        const padding = 0.05;
        const paddedBounds = new OpenSeadragon.Rect(
            bounds.x - (bounds.width * padding),
            bounds.y - (bounds.height * padding),
            bounds.width * (1 + 2 * padding),
            bounds.height * (1 + 2 * padding)
        );    
        viewer.viewport.fitBounds(paddedBounds, true);
    }

    document.getElementById('save_zoom').addEventListener('click', function(event) {
        event.preventDefault();
        document.getElementById("save_zoom").style.display = "none"
        document.getElementById('add_zoom').style.display = 'inline-block';
        annot = {obj_id: document.exemplar}

        const currentItem = viewer.world.getItemAt(0);
        const itemBounds = currentItem.getBounds();
        const itemWidth = itemBounds.width;
        const itemHeight = itemBounds.height;

        annot.itemWidth = itemWidth;
        annot.itemHeight = itemHeight;
        annot.itemX = itemBounds.x;
        annot.itemY = itemBounds.y;
        annot.x = (document.zoomed_annotation.bounds.x - itemBounds.x) / itemWidth;
        annot.y = (document.zoomed_annotation.bounds.y - itemBounds.y) / itemHeight;
        annot.w = document.zoomed_annotation.bounds.width / itemWidth;
        annot.h = document.zoomed_annotation.bounds.height / itemHeight;


        fetch("/api/save_zoom", 
        {
            method: "POST"
            , credentials: "same-origin"
            , headers: {"Content-Type": "application/json"}
            , body: JSON.stringify(annot)
        })
        .then(response => response.json())
        .then(data => {
            viewer.clearOverlays();
            document.location.reload()        
        })     
        

    })

    document.querySelectorAll('a.exemplar').forEach(function(element) {
        element.addEventListener('click', function(event) {
            event.preventDefault();
            const exemplarId = this.getAttribute('data-combine');
            
            fetch("/api/make_exemplar", {
                method: "POST",
                credentials: "same-origin",
                headers: {"Content-Type": "application/json"},
                body: JSON.stringify(
                    {obj_id: document.objId, exemplar:exemplarId}
                )
            })
            .then(response => response.json())
            .then(data => {
                document.location.reload();
            });


        });
    });
    


}

document.addEventListener('DOMContentLoaded', doInits)

</script>
{% endblock %}
