{% extends "base.html" %}

{% macro snip(field, title, text) %}
{% if field == 'INSTIT_CERLID' %}
    {% if text %}{% if title %}<span class="hed">{{title}}: </span>{% endif %}{{text|cerl_holdinst}}{% endif %}
{% else %}
    {% if text %}{% if title %}<span class="hed">{{title}}: </span>{% endif %}{{text|cerl_thesaurus}}{% endif %}
{% endif %}
{% endmacro %}



{% block title %}CERL PDA · {{obj["ID"][0]}}{% endblock title %}

{% block head_last%}
<script src="/static/openseadragon-2.4.2/openseadragon.min.js"></script>
<script>document.objId = '{{obj['ID'][0]}}'</script>
<script type="module">import * as item from '/static/item/item.js';</script>

<style>

.hed {font-variant: small-caps; color: #888; margin-right: 0.5ch}
.notespara {margin: 0}
</style>

{% endblock %}

{% block content %}
<div class="container-fluid" style="padding: 1vh 1vw 5vh 5vw;">
        <div class="row" style="padding: 0 2vw 0 2vw">
            <div class="col">
                
                {% if request.user.is_admin  or (obj["UPLOADER"] and obj["UPLOADER"][0][0] == request.user.username )%}
                <a class="btn btn-sm btn-info" href="/edit/{{obj['ID'][0]}}">Edit</a>{% endif %}
                {% if request.user.is_admin %}
                <a class="btn btn-sm btn-danger" href="#" id="delete">Delete</a>{% endif %}
                {% if request.user.is_authenticated %}
                <a class="btn btn-sm btn-secondary" href="#" data-bs-toggle="modal" data-bs-target="#commentModal">Comment</a>
                {% endif %}
                <a href="/iiif/2/{{obj.get('URL_IMAGE', [''])[0]}}/info.json" class="btn btn-sm  btn-secondary"><img src="/static/iiif_logo.png" alt="The IIIF Logo"></a>
              </div>            
            {% if "CANYOUHELP" in obj %}
            <div class="col"><a class="btn btn-sm btn-secondary" href="/canyouhelp">This item is in "Can You Help?"</a></div>
            {% endif %}
            <div class="col">
                {% if request.user.is_admin %}
                <a class="btn btn-sm btn-secondary" href="/id/{{obj['ID'][0]}}.raw">Raw</a>
                {% endif %}
                <a class="btn btn-sm btn-secondary" href="#" id="citable_uri">Copy URI to clipboard</a>
            </div>
        </div>

    <div class="row" style="padding: 1vw 2vw 0 2vw">
        <div style="font-size: 150%">{{snip(*TF("OWNERS_CERLID"))}}</div>
        <div>{{snip(*TF("CAPTION"))}}</div>
        <div>{{snip(*TF("TEXT"))}}</div>                        


        <div><span class="hed">Source:</span>
        {{obj.get("PERSON_AUTHOR", [""])[0]}}{% if "TITLE" in obj %}, {% endif %}{{obj.get("TITLE", [""])[0]}}
        {% if "IMPRINT" in obj%}, {% endif %}{{obj.get("IMPRINT", [""])[0]}}
        </div>

        
        
        <div>{{snip(*TF("INSTIT_CERLID"))}} {{snip(*TF("SHELFMARK"))}} {{snip(*TF("PAGE"))}}</div>
        <div>{{snip(*TF("LOCATION_ORIG_CERLID"))}}
        {% if "DATE_ORIG_CENTURY" in obj%} <span class="hed">Century:</span> {% for c in obj.get('DATE_ORIG_CENTURY', []) %}
        {{c}}th {% if not loop.last %}, {% endif %}
        {% endfor %}
        {% endif %}
        {{snip(*TF("DATE_ORIG"))}}</div>
        
        <div>{{snip(*TF("TYPE_INS"))}} {{snip(*TF("TECHNIQUE"))}}</div>
        <div>{{snip(*TF("HEIGHT"))}} {{snip(*TF("WIDTH"))}}</div>

        <div>{{snip(*TF("COMMENT"))}}</div>


        {% if obj.get("IC", [])|length > 0 %}
        <div class="mt-2"><p class="hed" style="margin: 0">ICONCLASS</p>
         {% for obj in obj.get("IC", [])|ic %}
            {% if obj %}
            <p style="margin: 0"><a target="_ic" href="https://iconclass.org/{{obj.get('n')|urlencode}}">{{obj.get('n')}}</a> {{obj['txt']['en']}}</p>
            {% endif %}

        {% endfor %}</div>
        {% endif %}


        {% if obj["URL_WEBPAGE"] %}
        <div style="text-align: right">
        See:  <a href="{{obj["URL_WEBPAGE"][0]}}">{{obj["URL_WEBPAGE"][0]}}</a></div>
        {% endif %}
        {% if obj["NOTES"] %}
        <p class="hed" style="margin: 0">Notes:</p>
        <div style="margin-bottom: 3vh">{{obj["NOTES"][0]|to_paras}}</div>
        {% endif %}


        <div id="thedzi1" style="height: 60vh; width: 100%; margin: 0 auto; border-top: 4px solid #ddd;"></div>

        {% if "TIMESTAMP" in obj %}
        <div><span class="hed">Last Edited:</span> {{obj["TIMESTAMP"][-1]}}</div>
        {% endif %}
        {% if "UPLOADER" in obj %}
            <div class="col"><span class="hed">Uploaded by:</span>{{obj["UPLOADER"][0][1]}}</div>
        {% endif %}

        {% if "ANNOT" in obj %}
        <div style="margin-top: 4vh">
            <h4>Comments</h4>
            {% for rowid, user, value, timestamp in obj["ANNOT"] %}
                <div title="{{user}} {{timestamp}}">                
                {% if user == request.user.username  %}
                <a class="deleteComment" href="#" title="Delete this comment" data-rowid="{{rowid}}">
                    <svg style="position: relative; top: 20px; left: -1.5ch" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                    <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                    <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                    </svg>
                </a>{% endif %}
                {{value|markdown}}
                </div>
            {% endfor %}
        </div>
        {% endif %}
    </div>

</div>

<div class="modal fade" id="commentModal" tabindex="-1" aria-labelledby="commentModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="commentModalLabel">Add Comment</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <textarea name="comment" id="commentInput" rows="10" style="width: 100%"></textarea>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id="saveComment">Save changes</button>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
async function doInits() {
    var viewer = OpenSeadragon({
        id: "thedzi1",
        prefixUrl: '/static/openseadragon-2.4.2/images/',
        showNavigator: false,
        showFullPageControl: true,
        showRotationControl: true,
        maxZoomPixelRatio: 999,
        tileSources: [ {% for animage in obj.get('URL_IMAGE', []) %}
        { x: {{loop.index*1000+100}}, y: 0, width: 1000,             
            tileSource: '/iiif/2/{{animage}}/info.json'} {% if not loop.last %},{% endif %}
        {% endfor %}],
    });
}

doInits()

</script>
{% endblock %}
