{% import "utils.html" as utils with context %}
{% extends "base.html" %}

{% block content %}
<div class="container-fluid" style="padding: 1vh 1vw 5vh 5vw; text-align: right">
    <a class="btn btn-sm btn-primary" href="#can_you_help">Go to Can You Help?</a>
    <a class="btn btn-sm btn-primary" href="#checked_by_editor">Go to Checked By Editor</a>
</div>

<div class="container-fluid" style="padding: 1vh 1vw 5vh 5vw; margin-top: 2vh">

{% for obj in rest %}
{{utils.listresults(loop.index, obj)}}    
{% endfor %}

<a name="can_you_help"><h2>Can You Help?</h2></a>
{% for obj in can_you_help %}
{{utils.listresults(loop.index, obj)}}    
{% endfor %}

<a  name="checked_by_editor"><h2>Checked by Editor</h2></a>
{% for obj in checked_by_editor %}
{{utils.listresults(loop.index, obj)}}    
{% endfor %}

</div>

{% endblock %}
