{% extends "base.html" %}


{% block content %}
<div class="container-fluid" style="padding: 1vh 1vw 5vh 5vw; margin-top: 2vh">

    {% for obj in data %}<div class="row">
        <div class="col-1">{{loop.index}}.</div>
        <div class="col"><a href="/id/{{obj['ID'][0]}}">{{obj['ID'][0]}}</a></div>
        <div class="col">
            {{obj.get('OWNERS_CERLID', ["x| 🤷🏼‍♀️ "])[0]|strip_cerlid}}
        </div>
        <div class="col">
            {% if "CAPTION" in obj %}{{obj["CAPTION"][0]}}{% endif %}
        </div>
        <div class="col">
            {{obj["TYPE_INS"][0]}}
        </div>

    </div>{% endfor %}

</div>

{% endblock %}
