{% extends "base.html" %}
{% block login %}{% endblock %}


{% block head_last %}<style>
.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

</style>{% endblock %}

{% block content %}
<div class="container mb-5">
    <div class="row">

        <div class="form-signin col-6">
        <form>
            <h1 class="h3 mb-3 fw-normal">Reset your password</h1>

            <div class="form-floating">
                <input type="text" class="form-control" id="passwordInput" placeholder="Password" 
                style="margin-bottom: 10px; border-top-left-radius: 0; border-top-right-radius: 0;">
                <label for="passwordInput">Password</label>
            </div>
            <button class="w-100 btn btn-lg btn-primary" type="submit" id="signinButton">Save New Password</button>
            
        </form>
        </div>          

    </div>

    <div class="row">
        <div class="col m-5">
            <div id="reminderMsg" style="margin-top: 1rem">
            <h3>Need help on choosing a new password?</h3>
            <p>In general, the longer a password, the better. But do not just repeat the same combination of characters. Try to use a different random password for different websites, and use a password manager tool to store them.</p>
            <p>If you like, we can <a href="#" id="genpassword" class="btn btn-sm btn-success">generate one for you now</a> on this page. 
            Please note and save it for future reference in your password manager tool.</p>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
document.getElementById("passwordInput").focus()

async function doReset(password) {
    var response = await fetch("/password/{{nonce}}/reset", {
        method: 'POST', mode: 'cors', body: "newpassword="+password, credentials: 'same-origin',
        headers: {'Content-Type': 'application/x-www-form-urlencoded'}
    })
    if(response.status === 200) {
        document.location = "/login"
    } else {
        document.getElementById("reminderMsg").innerHTML = "<b>Alas, something went wrong resetting you password.<br>Please use the Feedback form and get in touch with us to fix this.<b>"
        document.getElementById("passwordInput").focus()
    }
}

document.getElementById("signinButton").addEventListener("click", function(event) {
    event.preventDefault()
    var aPassword = document.getElementById("passwordInput").value
    if(aPassword) {
        doReset(aPassword)
    } else {
        document.getElementById("reminderMsg").innerHTML = "<b>Make sure you fill in a new password that is quite long and hard to guess<b>"
        document.getElementById("passwordInput").focus()
    }
})

document.getElementById("genpassword").addEventListener("click", function(event) {
    event.preventDefault()
    var stringInclude = "!#$%&()*+,-.:;@[]0123456789abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ"
    var password =''
    for (let i = 0; i < 30; i++) {
        password += stringInclude.charAt(Math.floor(Math.random() * stringInclude.length))
    }
    document.getElementById("passwordInput").value = password
})

</script>
{% endblock %}
