{% import "utils.html" as utils with context %}
{% extends "homepage.html" %}

{% block content_title %}
<div class="container-fluid" style="padding: 0 0 0 2vw; margin-top: 4vh">
    <div class="row justify-content-md-center">
            <div class="col-9">
                <input style="width: 100%" type="search" id="searchbox" placeholder="Type here to start searching..." value="{{q}}"/>
            </div>
            <div class="col-2">
                <a href="/help/searchtips" style="font-size: 75%; font-family: Satyr Smallcaps; color: #888;">Search tips</a>
            </div>        
    </div> 

</div>
{% endblock content_title %}



{% block searchresults %}
<div id="searchresults" style="padding: 1vh 1vw 5vh 5vw; margin-top: 2vh">
    {{utils.searchresults()}}
</div>

{% endblock searchresults %}