{% macro listresults(loop_index, obj) %}
    <div class="row">
        <div class="col-1">{{loop_index}}.</div>
        <div class="col"><a href="/id/{{obj['ID'][0]}}">{{obj['ID'][0]}}</a></div>
        <div class="col">
            {{obj.get('OWNERS_CERLID', ["x| 🤷🏼‍♀️ "])[0]|strip_cerlid}}
        </div>
        <div class="col">
            {% if "CAPTION" in obj %}{{obj["CAPTION"][0]}}{% endif %}
        </div>
        <div class="col">
            {{obj["TYPE_INS"][0]}}
        </div>
    </div>
{%endmacro%}

{%macro searchresults(searchurl) %}

<div class="row justify-content-center" style="border-bottom: 1px solid #ccc">
        {% if pages > 1 %}
        <nav aria-label="Page navigation">
        
        <ul class="pagination pagination-sm">
            <li class="page-item" style="align-self: center; margin-right: 1ch">{{data.total}} items</li>
            {% if page > 0 %}
            <li class="page-item">
            <a class="page-link" href="{{searchurl}}/?page={{page-1}}&q={{q}}" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
            </li>
            {% endif %}

            {% for ppage in range(pages) %}
            <li class="page-item">
            {% if page == loop.index %}
            <span class="page-link" style="font-weight: bold">{{ppage+1}}</span>            
            {% else %}
                <a class="page-link" href="{{searchurl}}/?page={{ppage}}&q={{q}}">{{ppage+1}}</a>
            {% endif %}
            </li>
            {% endfor %}

            {% if page < pages %}
            <li class="page-item">
            <a class="page-link" href="{{searchurl}}/?page={{page+1}}&q={{q}}" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
            </li>
            {% endif %}

        </ul>
        </nav>{% endif %}

</div>

<div class="row grid shadow" data-masonry='{"percentPosition": true }'>
{% for obj in data.results %}
<div class="col-sm-6 col-lg-3 mb-4 grid-item" anid="{{obj.get('ID')[0]}}">
    <div class="card">
    <a target="cerlpda_item" href="/id/{{obj.get('ID')[0]}}">
        <img src="/iiif/2/{{obj.get('URL_IMAGE')[0]}}/full/300,/0/default.jpg">
    </a>
    <div class="card-body">        
        <p style="font-size: 75%" class="card-title">
        {% if obj.get('OWNERS_CERLID') %}
            {{obj.get('OWNERS_CERLID', [None])[0]|owner_or_unknown }}
        {% else %}
            Unidentified 🎈
        {% endif %}
        
        </p>
    </div>
    </div>
</div>
{% endfor %}
</div>
{%endmacro%}